
#contenedor_principal{
    width:1200px;
    margin-top: 200px;
    padding-top: 40px;

    padding-bottom: 40px;
    margin: 100px auto;
    margin-top: 100px;
  }
  #contenedor_principal{
    display:flex;
  }
  #contenedor_tarjeta{
      display: block;
  }
  .tarjeta_izquierda{
    width:500px;
  }
  .tarjeta_izquierda p{
    padding:6px;
  }
  .tarjeta_izquierda img{
    max-width:450px;
  }
  .item_formulario{
    width:200px;
    height:50px;
  }
  #btnConsultar{
    color:beige;
    background:darkcyan;
  }
  .contenedor_s{
      display: flex;
      border-style:solid;
      border-radius:20px 0px 0px 20px;
      border-color: black;   
    }
    .contenedor_s:hover{
        border-color: lightblue;
    }
  .contenedor_image{
    z-index: 100px;
    width:400px;
    height:300px;
    background: linear-gradient(to right, black, lightblue);
    border-radius:20px 0px 0px 20px;
    padding:10px;
  }
  .contenedor_image p
  {
    background:black;
    color: beige;
    margin-top: 10px;
    width:300px;
    text-align:center;
  }
  .contenedor_descripcion{
    width:300px;
    height:300px;
    color: black;
    background: linear-gradient(to left, white, lightblue);
    border-radius:0px 20px 20px 0px;
    padding-top: 30px;
  }
  .fondo_circular{
    width:300px;
    height:220px;
    background:white;
    border-radius:110px;
    border:2px solid white; 
    overflow:hidden;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.67);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.67);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.67);
  }
  h1{
    margin-bottom: 30px;
    text-align: center;
  }
  h1:hover{
      color: lightblue;
  }
  h2{
    color: black;
  }  
  #fondoPerfil img{
    position: relative;
    left: -45px;
  }
.ubicacion{
    display: block;
}