body{
    font-family:sans-serif;
    background:beige;
  }
  #btn_whatsapp{
    position:fixed;
    height: 64px;
    width: 64px;
    bottom:10px;
    right:10px;
    z-index: 5px;
  }
#btn_home{
  position:fixed;
  height: 64px;
  width: 64px;
  bottom:10px;
  right:10px;
  z-index: 5px;

}
